@import "./commonstyles.css";

.about-container {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    align-items: center;
    background: transparent;
}
.about-container-background-image {
    position: absolute;
    width: 100%;
    height: auto;
    opacity: .5;
    z-index: -1;
}
.iframe-container {
    display: flex;
    position: fixed;
    flex-flow: column nowrap;
    align-items: center;
    margin: 45px 0;
    padding: 60px;
    color: var(--dark-blue);
    background: rgba(255, 255, 255, .9);
    border-radius: 5px;
}
.about-header {
    margin-top: 0;
    text-align: center;
}
.iframe-container > p {
    margin-bottom: 0;
}
