* {
  box-sizing: border-box;
}

:root {
  --dark-blue-lighter: #2f486e;
  --dark-blue: #233752;
  --orange: #f37022;
  --lightgray: #e6e7eb;
  --shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a {
  color: var(--dark-blue);
}

body {
  width: 100%;
  margin: 100px 0 0 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav {
  display: flex;
  position: fixed;
  align-items: center;
  width: 100%;
  height: 100px;
  left: 0;
  top: 0;
  color: var(--dark-blue);
  background: white;
  box-shadow: var(--shadow);
}
.navlogo {
  width: 20%;
  height: 100%;
}
.navlogo > a {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  font-size: 20px;
  transition: color 1s, background 1s;
}
.navlogo > a:hover {
  cursor: pointer;
  color: var(--lightgray);
  background: var(--dark-blue);
  transition: color 1s, background 1s;
}
nav > ul {
  display: flex;
  width: 60%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
nav > ul > li {
  width: 20%;
  height: 100%;
}
nav > ul > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
  transition: color 1s, background 1s;
}
nav > ul > li > a:hover {
  cursor: pointer;
  color: var(--lightgray);
  background: var(--dark-blue);
  transition: color 1s, background 1s;
}
.profile-menu {
  width: 20%;
  padding-right: 20px;
  text-align: right;
}
.navlinks {
  text-decoration: none;
}

/* .hoverable {
  -webkit-transition: -webkit-box-shadow .5s;
  transition: -webkit-box-shadow .5s;
  transition: box-shadow .5s;
  transition: box-shadow .5s, -webkit-box-shadow .5s;
}
.hoverable:hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

.flip {
	transform: rotateY(-180deg);
}
.hoverable {
  -webkit-transition: -webkit-box-shadow .5s;
  transition: -webkit-box-shadow .5s;
  transition: box-shadow .5s;
  transition: box-shadow .5s, -webkit-box-shadow .5s;
}
.hoverable:hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blue {
  color: #337ab7;
}
.red {
  color: rgb(214, 109, 109);
}