@import "./commonstyles.css";

.category-rows {
    padding: 20px 0;
    background: rgba(255, 165, 0, .7);
}
.card-row-title {
    margin: 0 20px;
    color: white;
    font-size: 18px;
    font-weight: bolder;
}
.card-rows {
    display: flex;
}
.card-cols {
    margin: 0 20px;
}
.card-holder {
    perspective: 2000px;
}
.card {
    background: transparent;
    width: 400px;
    height: 400px;
    margin: 25px 0;
    background: white;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform-style: preserve-3d;
    transition: 1s all;
}
.card:hover {
    cursor: pointer;
}

.card-front, .card-back {
    display: flex;
    position: absolute;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
}

.card-front {
    justify-content: space-between;
}
.card-category {
    padding: 5px;
    color: gold;
    background: rgba(175, 174, 174, .8);
    font-size: 18px;
    font-weight: bolder;
    border-radius: 5px;
}
.card-category > span {
    color: white;
    /* -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black; */
}
.card-description {
    display: flex;
    flex-flow: column nowrap;
    width: 400px;
    color: white;
    background: rgb(175, 174, 174);
    font-size: 14px;
    border-radius: 5px;
}
.card-description:hover {
    cursor: pointer;
}
.card-name {
    padding: 5px;
    color: gold;
    font-size: 18px;
}
.card-body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.body-col-left {
    padding: 5px;
    line-height: 1.2;
}
.body-col-center {
    padding: 5px;
    font-size: 12px;
    line-height: 1.2;
}
.body-col-right {
    padding: 2px 7px;
}
.body-col-row {
    display: flex;
}
.card-involved, .card-liked {
    color: gold;
    font-weight: bolder;
}
.card-involved > span, .card-liked > span {
    color: white;
    font-weight: initial;
}
.material-icons {
    margin: 3px;
    font-size: 20px;
}
.body-col-row > .material-icons:hover {
    cursor: pointer;
}

.card-back {
    position: relative;
    color: white;
    background: #337ab7;
    transform: rotateY(180deg);
}
.card-back > .card-category {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 12px;
    font-weight: initial;
}
.card-back-rows {
    height: 33.3%;
}
.title-divs {
    margin: 3px 0;
    color: gold;
    font-weight: bolder;
}
.card-back-rows > ul {
    margin: 0;
    padding-left: 20px;
}
.card-purpose {
    overflow: scroll;
}
hr {
    width: 100%;
    border: 1px solid white;
}

.modal {
    position: absolute;
    justify-content: space-between;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    padding: 20px;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1000;
}
.modal-button {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px;
    color: gray;
    background: white;
    border-radius: 5px;
    font-weight: bolder;
    transition: 1s;
}
.modal-button:hover {
    cursor: pointer;
    color: white;
    background: rgb(206, 113, 113);
    transition: 1s;
}
.modal > .card-name {
    font-size: 24px;
}
.modal > .card-body {
    font-size: 24px;
}
.modal > .card-body > .body-col-center {
    font-size: 24px;
    text-align: center;
}
.grow-icons {
    font-size: 30px;
}
.modal-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80%;
}
.modal-gallery {
    width: 45%;
}
.gallery-image {
    width: 100%;
    height: auto;
    object-fit: contain;
}
.modal-details {
    width: 45%;
    height: 95%;
    color: black;
    background: white;
    border: 2px solid black;
    border-radius: 10px;
}
.modal-details-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5%;
    font-size: 20px;
    border-bottom: 1px solid black;
}
.modal-details-top {
    width: 100%;
    height: 55%;
    padding: 0 10px;
    border-bottom: 1px solid black;
    white-space: pre-line;
    overflow: scroll;
}
.modal-details-bottom {
    display: flex;
    width: 100%;
    height: 40%;
    padding: 0 5px;
    border-top: 1px solid black;
}
.modal-details-cols {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: center;
    width: calc(100%/3);
    height: 100%;
    font-size: 12px;
    padding: 0 5px;
}
.modal-col-headers {
    flex-grow: 1;
    width: 75%;
    padding: 3px 0;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid black;
}
.modal-col-purpose {
    flex-grow: 2;
    width: 100%;
    height: 100%;
    padding: 3px 0;
    overflow: scroll;
}
.modal-details-cols > ul {
    flex-grow: 2;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 3px 3px 3px 20px;
    overflow: scroll;
}

.hidden {
    display: none;
}