<nav>
    <div class="nav-logo-div">
        <h1>SOLUTIONS</h1>
        <h2>for the least of these</h2>
    </div>
    <ul>
        <li>
            <a class="nav-links">
                Portfolio
            </a>
        </li>
        <li>
            <a class="nav-links">
                Connections
            </a>
        </li>
        <li>
            <a class="nav-links">
                Former Projects
            </a>
        </li>
        <li>
            <a class="nav-links">
                Notepad
            </a >
        </li>
    </ul>
    <div class="profile-menu">
        Profile goes here
    </div>
</nav>