<nav>
    <div class="navlogo">
        <a class="navlinks" href="/"><strong>SOLUTIONS</strong><br>for the least of these</a>
    </div>
    <ul>
        <li>
            <a class="navlinks">
                Portfolio
            </a>
        </li>
        <li>
            <a class="navlinks">
                Connections
            </a>
        </li>
        <li>
            <a class="navlinks">
                Pending
            </a>
        </li>
        <li>
            <a class="navlinks">
                Notepad
            </a >
        </li>
        <li>
            <a class="navlinks" href="/about">
                About
            </a>
        </li>
    </ul>
    <div class="profile-menu">
        Profile goes here
    </div>
</nav>