<% include ../header/head %>
<link rel='stylesheet' href='/stylesheets/aboutstyles.css'>
</head>
<body>
    <% include ../header/navbar %>
    <div class="about-container">
        <img class="about-container-background-image" src="../../images/about/solution.jpg" alt="">
        <div class="iframe-container">
            <h2 class="about-header">This site was inspired by the music of Joel Houston</h2>
            <iframe class="solution-iframe" width="560" height="315" src="https://www.youtube.com/embed/KLHe6X1JtqY" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>To make a difference in even one person's life can mean all the difference in the end.</p>
            <p>We're all in this together.</p>
        </div>
    </div>
</body>
</html>